// override bootstrap color scheme
$info:  #5578eb;
$primary: #5867dd;
$danger: #fd397a;
$warning: #ffb822;
$secondary: #e1e1ef;
$success: #1dc9b7;

// reset heading size
$h1-font-size: 32.5px;
$h2-font-size: 26px;
$h3-font-size: 22.75px;
$h4-font-size: 19.5px;
$h5-font-size: 16.25px;
$h6-font-size: 13px;

// reset heading color
$headings-color: #646c9a;

// reset border radius
$border-radius: 10px;